{% extends 'base.html' %}
{% block body %}
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 17px;
        transform: rotate(0deg);
        color: rgb(255, 255, 255);
        cursor: pointer;
        text-decoration: none;
    }

    .popup1 {
        display: none;
        position: fixed;
        top: 150px;
        right: 30px;
        z-index: 9;
        width: 350px;
        height: 250px;
    }

    .content a:hover {
        background-color: rgb(238, 167, 75);
    }

    .form-container1 {
        max-width: 350px;
        height: 300px;
        padding: 0px;
    }

    .form-container2 {
        max-width: 500px;
        height: 200px;
        padding: 2px;
        margin-left: 100px;
        margin-top: 100px;
    }

    .btns_prnt {
        color: #fff;
        width: 100%;
        cursor: pointer;
        background-color: rgba(240, 248, 255, 0);
        border: none;
        list-style: none;

    }

    .btns_prnt:hover {
        background-color: #5bc9e4;
        color: rgb(15, 14, 14);
    }

    .bt {
        text-align: end;
    }

    .ScrollStyle {
        overflow-y: scroll;
    }

    .hide {
        display: none;
    }

    .enter {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(124, 186, 224);
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }



    .opt {
        color: #000;
        text-align: top;
        padding: 0px;
        background-color: rgb(255, 229, 183);

    }


    .acc {
        color: #000;
        text-align: top;
        padding: 0px;
        height: 25px;
        width: 150px;
        background-color: rgb(255, 229, 183);

    }

    .txt {
        height: 23px;
        width: 150px;
        padding: 0;
        background-color: rgb(255, 229, 183);
        color: #000;
        text-align: left;

    }

    .butn {

        height: 15px;
        /*width: 32px;*/
        padding: 0px;
        border: none;
        color: rgb(0, 0, 0);
        margin-top: 11px;
        text-align: center;


    }

    .modal-content {
        position: relative;
        color: rgb(17, 54, 86);
        width: 800px;
        height: 500px;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 30px;
    }

    .btn {
        color: azure;
        background-color: rgb(13, 63, 92);
        width: 200px;
        justify-content: center;
    }
</style>
<div class="container">
    <div class="main-panel" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <div class="content-wrapper">
            <div class="row d-flex mb-4"
                style="background-color:  rgb(124, 186, 224);color:rgb(0, 0, 0);width: 100%;margin: auto;">
                <div class="col" style="font-weight:600 ;text-transform:capitalize;">Cheque leaf</div>
                <div class="col-4" style="font-weight:600 ;text-transform:capitalize;">{{company.name}}</div>

                <div class='col-2'><a href="javascript:history.go(-1);">
                        <span class="pull-right clickable" data-effect="fadeOut"><i class="fa fa-times"
                                style="color: black;"></i></span></a>
                </div>
            </div>
            <form action="{% url 'print_cheque' cheque.id %}" id="frmvouch" method="POST">
                {% csrf_token %}

                <div class="table-responsive ">
                    <table class="table  table-sm " id="chequelist"
                        style="background-color: rgb(245, 240, 230);color:rgb(0, 0, 0);">
                        <tr>

                        </tr>
                        <tr class="p-2">
                            <th colspan="3" style="font-weight: 600; text-transform: uppercase;color: #2e4059;">
                                <h2>{{cheque.bank_account}}</h2>
                            </th>
                            <th colspan="3"></th>
                            <th colspan="4" class="pt-4 text-right" style=" text-transform: uppercase;color: #2e4059;">
                                <h4>Date:
                                    {{ cheque.instdate.day }} {{ cheque.instdate.month }} {{ cheque.instdate.year }}
                                </h4>
                            </th>
                        </tr>
                        <tr>
                            <td style=" text-transform: uppercase;color: #2e4059; font-size: 20px;">
                                PAY
                            </td>
                            <td colspan="7">
                                <input type="text" value="{{pname }}" class="text-center p-3 " id="amount" style=" border-bottom: 1px solid black;border-top: none;border-left: none;border-right: none; 
                                        background-color: rgb(245, 240, 230);color: #2e4059;width: 100%;">
                            </td>
                            <td colspan="2" style="color: #2e4059;" class="pt-5"> OR BEARER</td>

                        </tr>
                        <tr>
                            <td style=" text-transform: uppercase;color: #2e4059; font-size: 20px;">
                                RUPEES
                            </td>
                            <td colspan="7">
                                <!-- <textarea name="" id="amount_words" cols="30" rows="2" style=" border-bottom: 1px solid black;border-top: none;border-left: none;border-right: none; 
                                background-color: rgb(245, 240, 230);color: #2e4059; width: 100%;">></textarea> -->
                                <input type="text" class="text-center p-3 " id="amount_words" style=" border-bottom: 1px solid black;border-top: none;border-left: none;border-right: none; 
                                         background-color: rgb(245, 240, 230);color: #2e4059; width: 100%;">
                            </td>
                            <td class="text-right" style=" text-transform: uppercase;color: #2e4059; font-size: 20px;">
                                RS.
                            </td>
                            <td colspan="1" class="" style=" text-transform: uppercase;color: #2e4059;">
                                <input type="number" value="{{cheque.amount }}" class="text-right " id="amount" style=" border: 1px solid black;; background-color: rgb(245, 240, 230);color: #2e4059;height: 50px;
                                    width: 80%;" onclick="inWords(this.value)">
                            </td>
                        </tr>
                        <tr>
                            <td style=" text-transform: uppercase;color: #2e4059; font-size: 20px;">
                                ACC.NO
                            </td>
                            <td colspan="9" style=" text-transform: uppercase;color: #2e4059;">
                                <div style=" height: 50px;color: #2e4059;">
                                    <input type="text" value="{{acno }}" class="text-right p-3 " id="acno"
                                        style=" border: 1px solid black; background-color: rgb(245, 240, 230);color: #2e4059;">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="3" style=" color: #2e4059;">
                                <h4><span style="text-transform: uppercase;">{{cheque.bank_account}}</span> Account</h4>
                            </td>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="9"></td>
                            <td style=" color: #2e4059;">
                                Signature Here
                            </td>
                        </tr>


                    </table>



                    <div class="enter w-100 py-1 mt-0">

                        <button type='submit' class="btn  w-30">PRINT</button><br>

                    </div>

            </form>

        </div>


    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>


<script>


    var a = ['', 'one ', 'two ', 'three ', 'four ', 'five ', 'six ', 'seven ', 'eight ', 'nine ', 'ten ', 'eleven ', 'twelve ', 'thirteen ', 'fourteen ', 'fifteen ', 'sixteen ', 'seventeen ', 'eighteen ', 'nineteen '];
    var b = ['', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];

    function inWords(num) {
        console.log(num)
        if ((num = num.toString()).length > 9) return 'overflow';
        n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
        if (!n) return; var str = '';
        str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
        str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
        str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
        str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
        str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'only ' : '';
        document.getElementById('amount_words').value = str;
    }

// document.getElementById('amount').onkeyup = function () {
//     document.getElementById('amount_words').innerHTML = inWords(document.getElementById('amount').value);
// };

</script>

{% endblock %}