{% extends 'nav.html' %}
{% block content %}
        {% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
     function checkPasswordMatch() {
        var password = $("#password").val();
        var confirmPassword = $("#cpassword").val();
        if (password != confirmPassword)
            $("#CheckPasswordMatch").html("Passwords does not match!");
        else
            $("#CheckPasswordMatch").html("Passwords match.");
    }
    $(document).ready(function () {
        $("#cpassword").keyup(checkPasswordMatch);
    });

</script>
<body style="background-color: #213b52;">
    

<form  action="{% url 'setnewpassword' %}" method="POST">
    {% csrf_token %}
    <div class="row mt-5">
        
        <div class="col-md-6 mt-5">
            <img width="100%" src="{% static 'assets/img/clipart2412551.png' %}" alt="">
        </div>
        
        <div class="col-md-4  p-5 mt-5">
            <center>
                <h3 class="text-white"> Forgot ?</h3>
             </center>
            <div class="row mt-5">
                
                <div class="col-md-4 text-white ">Username</div>
                <div class="col-md-8"><input type="email" class="form-control" name="email"> </div>
                <div class="col-md-4 text-white mt-1">New Password</div>
                <div class="col-md-8 mt-1"><input type="password" class="form-control" name="password" id="password"> </div> 
                <div class="col-md-4 text-white mt-1">Confirm Password</div>
                <div class="col-md-8 mt-1"><input type="password" class="form-control" name="cpassword" id="cpassword">
                </div>
                <div class="col-md-4"> </div>
                <div class="registrationFormAlert col-md-8 pt-2" style="color:rgb(85, 236, 51);"
                    id="CheckPasswordMatch"></div>
            </div>
            <center><button type="submit" class="btn btn-primary mt-3">Submit</button> </center>
        </div>
        <div class="col-md-2"></div>
    </div>


</form>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if msg_success %}
<script>
    Swal.fire({
        position: 'center',
        icon: 'success',
        text: '{{ msg_success }}',
        showConfirmButton: false,
        timer: 1500
    }).then(function () {
        javascript: history.go(-2);
    })

   

</script>
{% endif %}

<!--{% if msg_error %}-->
<!--<script>-->
<!--    Swal.fire({-->
<!--      icon: 'error',-->
<!--      text: '{{ msg_error }}',-->
<!--    }).then(function () {-->
<!--      javascript: history.go(-1);-->
<!--    })-->
<!--    </script>-->
<!--{% endif %}-->

{% if msg_error %}
<script>
    alert('password inccorect');
    javascript: history.go(-1);
</script>
{%endif%}

{% endblock %}